.skills-modal {
    position: absolute;
    display: flex;
    left: 450px;
    border: 2px solid #cccccc;
    border-radius: 8px;

    overflow: scroll;
    gap: 10px;
    padding: 10px;

    flex-wrap: wrap;
    flex-direction: column;

    .modal-controls {
        display: flex;
        justify-content: flex-end;
    }
}