.skills-modal {
   position: absolute;
   display: flex;
   left: calc(515px + 60px);
   border: 3px solid #dadada;
   border-radius: 8px;

   overflow: scroll;
   gap: 10px;
   padding: 10px;

   flex-wrap: wrap;
   flex-direction: column;

   .modal-controls {
      display: flex;
      justify-content: flex-end;
   }
}
